# our back-end code
useDynLib(rcom)

# required external references
import(utils)
import(rscproxy)

# exported symbols from rcom
export(comCreateObject,
       comGetObject,
       comInvoke,
       comIsValidHandle,
       comGetProperty,
       comSetProperty,
       comRegisterServer,
       comUnregisterServer,
       comRegisterRegistry,
       comUnregisterRegistry,
       comTraceObject,
       comGetObjectInfo,
       comGetVersion,
       comTrace,
       comThis,
       comGetPicture,
       comSetLicenseInfo,
	"[[<-.COMObject",
	"[[.COMObject",
	"$.COMObject",
       installstatconnDCOM)
